.git
.DS_Store
.idea
.vscode
.pytest_cache
.pytest_cache


__pycache__

Data
output
Result

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pr
*.pkl
*.pt
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.pdf
*.html
*.css
*.js
*.json
*.yaml
*.out